<section id="header">
    <div class="header-flex">

        <span class="header">
            <a class="site home" href="{{- `/` | relLangURL -}}">
                {{- $logo := site.Params.logo -}}
                {{- if $logo -}}
                <img class="site logo" src="{{- $logo | relURL -}}" alt />
                {{- else }}
                <span class="site name">{{- site.Title | safeHTML -}}</span>
                {{- end -}}
            </a>
        </span>

        
        <span class="header">
            {{- partial "navigation-items.html" site.Params.nav -}}
        </span>    

        
        {{- with site.Params.slogan -}}
            <span class="title">
                {{- with site.Params.profile.github -}}
                  <a class="item" href="https://github.com/{{- . | safeHTML -}}" target="_blank" rel="noopener noreferrer"><span class="iconfont icon-github"></span></a>
                {{- end -}}
                {{- with site.Params.profile.email -}}
                  <a class="item" href="mailto:{{- . | safeHTML -}}" target="_blank" rel="noopener noreferrer"><span class="iconfont icon-email"></span>
                  </a>
                {{- end -}}
            </span>
        {{- end -}}
    
    </div>
</section>